{% extends 'rentcarsapp/header.html' %}

{% block title %}
{{ title }}
{% endblock%}
{% block content %}
<body class="text-center text-bg-light">
  <main class="px-3">
    <h1>Rent Cars - лучшая компания в области аренды авто</h1>
    <p class="lead">Наша компания занимается предоставлением автомобилей для аренды. Все наше автомобили регулярно проходят ТО
        и обслуживаются в лучших сервисах. Мы годами нарабатывали схемы работы с клиентами для вашего удобства.
        Наш автопарк состоит из машин разных классов. В нашем автопарке вы найдёте подходящую для себя машину.</p>
    <p class="lead">
       <a href="{% url 'cars' %}" class="btn btn-primary my-2">Каталог автомобилей</a>
    </p>
  </main>
</body>
{% endblock%}